@import './normalize.css';
@import './variable.css';
@import './common.css';
@import './antd-mobile.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--adm-font-family);
  background-color: var(--body-bg-color)
}

* {
  box-sizing: border-box;
}

button {
  font-weight: 600;
}

.container {
  --container-bg-color: #FFF;

  top: var(--navbar-height);
  position: relative;
  background-color: var(--container-bg-color);
  min-height: calc(100vh - var(--navbar-height));
}

.sticky-bottom {
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 480px;
  bottom: 0px;
  background: rgb(247, 247, 247);
  padding: 16px;
  height: 72px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  visibility: visible;
  animation: 0.5s linear 0s 1 normal none running eMLfYp;
  transition: visibility 0.5s linear 0s;
  box-shadow:rgb(152 152 152 / 20%) 2px -3px 4px 0px ;
}

.sticky-bottom .button-left {
  flex-grow: 0;
  margin-right: 12px;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: 600;
}

.sticky-bottom .button-right {
  flex-grow: 1;
  font-weight: 600;
}

/* Responsive */
@media only screen and (min-width: 480px) {
  .container {
    width: var(--container-width);
    margin: 0 auto;
  }
}
