@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root {
  --container-width: 480px;
  --navbar-height: 60px;
  --body-bg-color: #F5F5F9;
  --adm-font-family: "Open Sans", Roboto, sans-serif!important;
}